.large-sidebar,
.menu-list,
.upgrade-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sidebar-container {
  padding: 20px 20px 10px 20px;
  position: relative;
}
.calendar-icon {
  font-size: 27px;
}
.menu-list {
  font-size: 14px;
  gap: 20px;
  cursor: pointer;
}
.upgrade-section {
  font-size: 13px;
  gap: 10px;
  color: #82868a;
}
.upgrade-section h4 {
  color: #1b72fd;
  cursor: pointer;
}
.upgrade-section h4:hover {
  color: #1455bd;
}
.smile-icon {
  color: #dee2e6;
  cursor: pointer;

  font-size: 28px;
}
.upgrade-section span {
  display: flex;
}
.menu-icon {
  font-size: 33px;
  cursor: pointer;
  padding: 5px;
}
.menu-icon:hover {
  background-color: #ececec;
  cursor: pointer;
}
.small-menu {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  position: fixed;
  background-color: #ffffff;
  top: 50px;
  right: 18px;
}
.small-menu a {
  color: #000000;
}

.nodisplay {
  display: none;
}
.options {
  border: 1px solid #ddd;
  border-radius: 10px;
}
.options li {
  border-bottom: 1px solid #ddd;
  padding: 10px;
}
@media only screen and (max-width: 820px) {
  .menu-list,
  .upgrade-title,
  .smile-icon,
  .user-info,
  .earning-section,
  .earning-section p {
    display: none;
  }
}
